node_modules

 Extra projects that need editing:
    //     "name": "Google Books: Search & Save",
    //     "image": "images/googleBooks.svg",
    //     "deployed": "x",
    //     "github": "https://github.com/cardeens/googlebooks"
    // 
     // 
    //     "name": "FINDR Application",
    //     "image": "images/Findr.png",
    //     "deployed": "https://commiewalker.github.io/Findr/",
    //     "github": "https://github.com/commiewalker/Findr"
    // 